<h1>Editing Training Session</h1>

<%= render 'form', training_session: @training_session %>

<p class="buttons">
  <%= link_to(
          'Delete',
          @training_session,
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger'
        ) %>
  <%= link_to 'Cancel', @training_session, class: 'btn btn-secondary' %>
</p>
